@layer base {
  body {
    position: relative;
    background-color: #1a1a1a;
    font-family: "JetBrains Mono", ui-monospace, monospace;
  }

  nav a {
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease;
  }
}
